  .module-card-header {
  padding: 15px 20px;
  border-bottom: 1px solid #eaeaea;
  background: #ffffff;
}

.settings-icon {
  font-size: 20px;
  cursor: pointer;
  color: #6c757d;
  transition: 0.3s ease;
}

.settings-icon:hover {
  color: #0d6efd;
  transform: rotate(90deg);
}
.today-expense{
  display: flex;
  flex-direction: column;
}
.today-expense-detail{
  margin-left: auto;
  font-weight: bold;
}
.today-expense-child{
  display: flex;
  flex-direction: row;
}