/* Background */
.signin-wrapper {
  min-height: 100vh;
  background: linear-gradient(135deg, #141e30, #243b55);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Card */
.signin-card {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #fff;
}

/* Title */
.signin-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

/* Form */
.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #ddd;
}

.form-input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 14px;
}

.form-input::placeholder {
  color: #ccc;
}

/* Button */
.signin-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #4e9af1;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.signin-btn:hover {
  background: #3578e5;
}

/* Footer */
.signin-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.signin-footer span {
  color: #4e9af1;
  cursor: pointer;
  font-weight: 600;
}

.error{
  color: red;
  margin-left: 5px;
}

/* Responsive */
@media (max-width: 480px) {
  .signin-card {
    padding: 25px;
  }

  .signin-title {
    font-size: 20px;
  }
  .error{

  }
}
